@import "tailwindcss";

.FontAntonio {
  font-family: sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbetween{
    display: flex;
  align-items: center;
  justify-content: space-between;
}